<div class="side-bar-header">
  <div class="user-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="makechat">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>
<div class="side-bar-main">
  <% current_user.rooms.each do |chat_room| %>
    <div class="chat_room">
      <div class="room-name">
        <a href="#"><%= chat_room.name %></a>
      </div>
    </div>
  <% end %>
</div>
